{% include "header.html" %}
<div class="container">
    <div class="row">
        <div class="col">
    <br><h2>Statistik</h2>
        {{ viz_div|safe}}
        </div>
    </div>
        <div class="row">
            <div class="col">
                <h3>Totalausgaben</h3>
                    {% for monat, betrag in monate.items()%}
                        {{ monat }}: CHF {{ betrag }}<br>
                    {% endfor %}<br>
                    Total über alle Monate hinweg: <b>CHF {{ total }}</b><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Übriges Budget berechnen</h3>
                <form method="POST">
                    <div class="form-group">
                        <label for="budget">Dein monatliches Budget:</label>
                        <input class="form-control" type="text" name="budget" placeholder="Bitte gib eine Zahl ein." id="budget">
                    </div>
                    <div class="form-group">
                        <label for="inputMonat">Für welchen Monat?</label>
                        <select id="inputMonat" class="form-control" name="monat">
                            <option selected>...</option>
                            {% for monat in monate %}
                            <option>{{ monat }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Prüfen</button>
                </form><br>
                Noch verfügbar: <b>CHF {{ ergebnis }}</b><br><br>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}

