{% include "header.html" %}
    <div class="container">
        {% block content %}
        <br><h1>Hi there, user!</h1>

        <p>Would you like to add a new entry?</p>

    <!--    <form method="GET">-->
        <a href="{{ url_for('formular') }}"><button type="submit" class="btn btn-primary btn-sm">Yes, please</button></a>
    <!--    </form>-->
            <br><br>
            <a href="{{ url_for('uebersicht') }}">To my Overview</a>
        {% endblock %}
    </div>
{% include "footer.html" %}
