<!-- Übernahme header -->
{% include "header.html" %}
    {% block content %}
        <div class="jumbotron jumbotron-fluid" style="background-color: white;">
            <div class="container" style="background-color: white;">
                <h1 class="display-4">Hallo {{user}}</h1>
                <p class="lead">Willkommen bei deinem persönlich Budget-Rechner.</p>
                <p class="my-4">Möchtest du gerne eine neue Eingabe machen?</p>
                <p class="lead">
                        <!--    <form method="GET">-->
                        <a class="btn btn-primary btn-lg" href="{{ url_for('formular') }}" role="button" type="submit">Ja, gerne!</a><br><br>
                        <!--    </form>-->
                        <a href="{{ url_for('uebersicht') }}">Nein, danke - Zur Übersicht.</a>
                </p>
            </div>
        </div>
        {% endblock %}

<!-- Übernahme footer -->
{% include "footer.html" %}
